body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}

header {
  background-color: #020617;
  padding: 40px;
  text-align: center;
}

h1 {
  margin: 0;
  color: #38bdf8;
}

h2 {
  color: #38bdf8;
}

section {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

ul {
  list-style-type: square;
}
